#parent{
	width: 50%;
	height:300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: pink;
	margin:0 auto;
}
#child{
	width:50%;
	height:100px;
	background: blue;
	color: white;
	text-align: center;
	line-height: 100px;
	font-weight: bold;
}